---
---
<style>
  .footer {
    margin-bottom: 60px;
  }
</style>
<div class="section footer">
  <h2>About Me</h2>
  <ul>
    <li>I completed an engineering degree, so the math basics are covered</li>
    <li>I completed (and has since forgotten) the original Andrew Ng Coursera ML course</li>
    <li>I'm a fullstack developer. I can code, but I don't do data science and data processing</li>
  </ul>
</div>