---
---
<div class="banner section">
  <h1>My AI Professor</h1>
  <h2>An experiment: Can an AI chatbot teach an online course?</h2>
</div>
<style>
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 24px;
  }
</style>