<div class="section">
  <h4>
    See daily-ish on
    <a class="social">Twitch live</a>,
    or
    <a class="social">Youtube for a short summary</a>
    or weekly-ish on
    <a class="social">LinkedIn</a>
  </h4>
</div>

<style>
  .social {
    color: purple;
  }
</style>
