<div class="section follow">
  <h4 class="follow-text">
    See daily-ish
    <a class="social">Twitter quips</a>,
    <a class="social">Twitch live</a> or
    <a class="social">Youtube summaries</a>,
    or weekly-ish on
    <a class="social">LinkedIn</a>
  </h4>
</div>

<style>
  
  .follow {
    background-color: var(--dark);
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .follow-text {
    color: var(--white);
  }
  .social {
    color: plum;
  }
</style>
