---
---
<div class="section">
  <h2>The goal</h2>
  <ul>
    <li>Learn basic ML and CV through conversations with ChatGPT</li>
    <li>Create the syllabus between myself and ChatGPT</li>
    <li>Cover theory and practical implementation</li>
    <li>Colleagues and friends are allowed to give advice</li>
    <li>I can test my knowledge by looking through external projects</li>
  </ul>
</div>
